html {
    --cinza: #f8f8f8;
    --cinza-escuro: #d6d3d3;
    --bege: #faebcd;
    --amarelo: #f7c873;
    --amarelo-escuro: #db9e2c;
    --preto: #434343;
}  

.postCard {
  margin: auto;
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
  width: 80%;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  display: flex;
}

.conteudo{
  width: 100%;
}

.post {
  color: var(--preto);
  font-size: 1.1rem;
}

.avatar {
  width: 50px;
  margin: 10px;
}

.nomeUsuario {
  margin: 10px;
  color: var(--preto);
}

.textoPost {
  margin: 10px;
  color: var(--preto);
  margin-top: 20px;
  margin-bottom: 20px;
}
