.userCard {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.nomeCompletoUsuario {
  margin-top: 16px;
  color: var(--preto);
}
.avatar {
  width: 50px;
  margin: 10px;
}
.info {
  display: flex;
  align-items: center;
}
.areaBotao {
  margin-top: 18px;
  margin-right: 5%;
  display: flex;
}
