.cardUsuariosLi {
  display: flex;
  width: 60%;
  margin: auto;
  margin-top: 10px;
  justify-content: space-between;
}
.li {
  list-style: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  border-radius: 10px;
  margin-top: 12px;
  display: flex;
}
.button {
  margin: 17px 0 0 100px;
  padding: 10px;
  border-radius: 10px;
}
.cardUsuarioInfo {
  width: 100%;
}
.areaBotao {
  margin-top: 18px;
  margin-right: 5%;
  display: flex;
}
