html {
  --cinza: #f8f8f8;
  --cinza-escuro: #d6d3d3;
  --bege: #faebcd;
  --amarelo: #f7c873;
  --amarelo-escuro: #db9e2c;
  --preto: #434343;

  --marrom-claro: #b2957a;
  --amarelo-oliva: #c4a35a;
  --cinza-azulado: #c1c7d0;
  --dourado-palido: #e8c37d;
  --terracota: #c66b3d;
  --verde-musgo-claro: #b6bfa1;
  --marrom-escuro: #6a4b3c;
  --caramelo: #d3a87c;
  --mostarda-escura: #b3831c;
  --cinza-chumbo: #767676;
}
.header {
  background-color: var(--amarelo);
  height: 100px;
  border-radius: 0 0 15px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.navBar {
  display: flex;
  align-items: center;
  width: 90%;
}

.navBar :last-child {
  margin-right: 9%;
}
.logo {
  margin-top: 29px;
  width: 110px;
}

.navLinks {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-grow: 1;
}

.opcaoNavBar {
  text-decoration: none;
  color: var(--preto);
  font-size: 1.3em;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.opcaoNavBar:hover {
  color: var(--azul-claro);
  border-bottom: 2px solid var(--azul-claro);
  text-decoration: none;
}
